<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Student deletion</h4>
    <button type="button" class="btn-close" aria-describedby="modal-title"
        (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p>
        <strong>Are you sure you want to delete the student?</strong>
    </p>
    <p>
        all grades will be deleted as well.
    </p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('confirmed')">Ok</button>
</div>